### Importo librerías

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
import ast
from pandas.io.json import json_normalize

In [ ]:
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Genero DFs

In [ ]:
df_credits = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/credits.csv')
df_credits_copy = df_credits.copy()

In [ ]:
# Ejecuto este comando para poder visualizar todas las columnas cuando pido un .head() por ejemplo

pd.set_option('display.max_columns', None)

In [ ]:
df_credits_copy.shape

(45476, 3)

In [ ]:
# Elimino los registros duplicados

df_credits_copy.drop_duplicates(inplace=True)

In [ ]:
df_credits_copy.shape

(45439, 3)

In [ ]:
# Creo la columna 'names_cast' con la información de la columna 'cast'

def convert_to_dict(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        return None

df_credits_copy['cast'] = df_credits_copy['cast'].apply(convert_to_dict)

def name(x):
    if isinstance(x, list) and len(x) > 0:
        return ', '.join([cast['name'] for cast in x])
    else:
        return None

df_credits_copy['names_cast'] = df_credits_copy['cast'].apply(name)

In [ ]:
# Creo la columna 'director' con la información de la columna 'crew'

df_credits_copy['crew'] = df_credits_copy['crew'].apply(ast.literal_eval)

def extraer_director(crew):
    for entry in crew:
        if entry['job'] == 'Director':
            return entry['name']
    return None

df_credits_copy['director'] = df_credits_copy['crew'].apply(extraer_director)

In [ ]:
df_credits_copy.drop(['cast', 'crew'], axis=1, inplace=True)
df_credits_copy.rename(columns={'names_cast': 'cast'})

,id,cast,director
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...
45471,439050,"Leila Hatami, Kourosh Tahami, Elham Korda",Hamid Nematollah
45472,111109,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45473,67758,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
45474,227506,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45475,461257,None,Daisy Asquith

In [ ]:
df_credits_copy.to_csv('/content/drive/MyDrive/Colab Notebooks/credits_limpio.csv', index=False)